{% extends 'base.html.twig' %}

{% block title %}YGOCard n°{{ ygo_card.id }}{% endblock %}

{% block main %}
    <h1 class="text-center my-4">Yu-Gi-Oh! Card Details</h1>

    <div class="container">
        <div class="row">
            <!-- Image Column -->
            <div class="col-md-4 text-center">
                {% if ygo_card.imageName %}
                    <img src="{{ vich_uploader_asset(ygo_card, 'imageFile') }}" alt="{{ ygo_card.name }}" class="img-fluid rounded shadow" style="max-width: 80%;">
                {% else %}
                    <p class="text-muted">No image available</p>
                {% endif %}
            </div>

            <!-- Details Column -->
            <div class="col-md-8">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Id</th>
                            <td>{{ ygo_card.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{ ygo_card.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ ygo_card.description }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Type</th>
                            <td>{{ ygo_card.type }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Attribute</th>
                            <td>{{ ygo_card.attribute }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Race</th>
                            <td>{{ ygo_card.race }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Level</th>
                            <td>{{ ygo_card.level }}</td>
                        </tr>
                    </tbody>
                </table>

                
                    <a href="{{ path('pack_show', {'id': ygo_card.pack.id}) }}" class="btn btn-secondary me-2">Back to Pack</a>
                    
                    {% if app.user and (app.user == ygo_card.pack.user or is_granted('ROLE_ADMIN')) %}
                        <a href="{{ path('app_ygo_card_edit', {'id': ygo_card.id}) }}" class="btn btn-success me-2">Edit</a>
                        {{ include('ygo_card/_delete_form.html.twig') }}
                    {% endif %}
                    
                    
                
            </div>
        </div>
    </div>
{% endblock %}
