{# ... #}

{% block title %}
	Pack n°{{ pack.id }}
{% endblock %}

{% block body %}
    <h1>Pack</h1>

    {% dump pack %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>YGO Cards</th>
                <th>&nbsp;</th>
                
            </tr>
           </thead>
        <tbody>
              
            <tr>
                <td>{{ pack.id }}</td>                
                <td>{{ pack.title }}</td>

                  <td>
                      <ul>
                      {%  for ygoCard in pack.getYgoCards() %}
                          <li>
                          {{ ygoCard.id }} {{ ygoCard.name }}
                          </li>
                      {% endfor %} {# pack.ygo_cards #}
                      </ul> 
                  </td>
             
              
              
                  <td>
                      <ul>
                      {%  for ygoCard in pack.getYgoCards() %}
                          <li>
      							<a href="{{ path('ygocard_show', {'id': ygoCard.id}) }}"> show details for {{ ygoCard.name }}</a>
   	 					  </li>
                      {% endfor %} {# pack.ygo_cards #}
                      </ul> 
                  </td>
              
        </tbody>
    </table>

    <a href="{{ path('pack_index') }}">back to list</a>

{% endblock %} {# body #} 

{# ... #} 
