{% extends 'base.html.twig' %}

{% block title %}Showcases List{% endblock %}

{% block main %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Showcases List for User "{{ user.email }}"</h2>

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-primary">
            <tr>
                <th scope="col" class="align-middle">Id</th>
                <th scope="col" class="align-middle">Description</th>
                <th scope="col" class="align-middle">Published</th>
                <th scope="col" class="text-center align-middle">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for showcase in showcases %}
            <tr class="align-middle">
                <td class="align-middle">{{ showcase.id }}</td>
                <td class="align-middle">{{ showcase.description }}</td>
                <td class="align-middle">{{ showcase.published ? 'Yes' : 'No' }}</td>
                <td class="text-center align-middle">
                    <a href="{{ path('app_showcase_show', {'id': showcase.id}) }}" class="btn btn-primary me-1">
                        Show
                    </a>
                    
                    {% if app.user and (app.user == showcase.creator or is_granted('ROLE_ADMIN')) %}
                        <a href="{{ path('app_showcase_edit', {'id': showcase.id}) }}" class="btn btn-success me-1">
                        Edit
                        </a>
                        {{ include('showcase/_delete_form.html.twig') }}
                    {% endif %}
                    
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center text-muted align-middle">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center my-4">
    	<a href="{{ path('home') }}" class="btn btn-secondary mx-2">Back to Home page</a>
        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-secondary mx-2">Back to User</a>
        
        {% if app.user and (app.user == user or is_granted('ROLE_ADMIN')) %}
            <a href="{{ path('app_showcase_new', {'id': user.id}) }}" class="btn btn-warning mx-2">Create New Showcase</a>
        {% endif %}
        
        
    </div>
</div>
{% endblock %}
